.main {
    width: 70%;
}

.compcard {
    display: flex;
    width: 100vw;
}

.btn {
    background-color: #4c4c50;
    color: #ffffff;
    border-radius: 6px;
    padding: 7px 12px;
    margin-right: 30px;
    border: 2px solid #ffffff;
    transition: .3s;
}

.btn:hover {
    border: 2px solid #070630;
    box-shadow: 7px 7px 12px gray;
}

.dispproduct {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0 10%;
}

.compcard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 500px;
    margin: 50px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 18px;
    transform: scale(1);
    transition: .5s;
}

.compcard:hover {
    transform: scale(1.1);
}

.wish {
    position: absolute;
    font-size: 28px;
    right: 10%;
    color: rgb(163, 13, 13);
}

@media (max-width: 1400px) {
    .dispproduct {
        margin: 8%;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .compcard {
        margin-right: 8%;
    }
}

@media (max-width: 600px) {
    .dispproduct {
        margin: 6%;
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (max-width: 400px) {
    .dispproduct {
        margin: 4%;
        display: grid;
        grid-template-columns: auto;
    }
}